---
title: Placeholders
layout: recipe
breadcrumb: Using placeholders
---
<div class="row">
    <div class="col-lg-5">
        <p>
            Sometimes a placeholder needs to be visible before an actual
            selection is made.
        </p>

        <p>
            <select id="single_placeholder" style="width: 100%">
                <option></option>
                {% include states-data.html %}
            </select>
        </p>

        <p>
            The placeholder can be declared using a <code>placeholder</code>
            property when configuring the Select2.  This can also be declared
            through the <code>data-placeholder</code> attribute when attached
            to a <code>select</code> tag.
        </p>

        <p>
            <select id="single_placeholder_clearable" style="width: 100%">
                <option></option>
                {% include states-data.html %}
            </select>
        </p>

        <p>
            The placeholder can be reset after a selection is made by setting
            the <code>allowClear</code> flag when initializing Select2.
        </p>

        <div class="alert alert-danger">
            <strong>Watch out!</strong>
            In order to use a placeholder with a single-value select box, you
            must include a blank <code>&lt;option&gt;&lt;/option&gt;</code> tag
            as the first option.
        </div>
    </div>
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                HTML
            </div>
            <div class="panel-body">
<pre class="prettyprint linenums escape" id="single_html">
<select id="single_placeholder">
    <option></option>
    <!-- options omitted -->
</select>

<select id="single_placeholder_clearable">
    <option></option>
    <!-- options omitted -->
</select>
</pre>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                JavaScript
            </div>
            <div class="panel-body">
                <pre class="prettyprint linenums" id="single_js"></pre>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-5">
        <p>
            Select2 also supports multi-value select boxes:
        </p>

        <p>
            <select id="multi_placeholder" multiple="multiple" style="width: 100%">
                <option></option>
                {% include states-data.html %}
            </select>
        </p>

        <p>
            As long as the select box has the <code>multiple</code> attribute
            set, Select2 will automatically pick this up.
        </p>

        <div class="alert alert-info">
            Placeholders will be reset on multi value select boxes by default
            when no options are selected.
        </div>
    </div>
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                HTML
            </div>
            <div class="panel-body">
<pre class="prettyprint linenums escape" id="multi_html">
<select id="multi_placeholder" multiple="multiple">
    <option></option>
    <!-- options omitted -->
</select>
</pre>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                JavaScript
            </div>
            <div class="panel-body">
                <pre class="prettyprint linenums" id="multi_js"></pre>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" data-copy-to="#single_js">
$("#single_placeholder").select2({
    placeholder: "Select a state"
});

$("#single_placeholder_clearable").select2({
    placeholder: "Select a state",
    allowClear: true
});
</script>

<script type="text/javascript" data-copy-to="#multi_js">
$("#multi_placeholder").select2({
    placeholder: "Select a state"
});
</script>
